span{
    cursor: pointer;
    &:hover{
        
    }
}
.clicked{
    cursor: text !important;
}
a{
  position: relative;
  top: 5em;
  justify-content: center;
  display: flex;
  align-items: center;
  margin: 0 auto;
}
li {
  // background-color: aqua;
  width: fit-content;
}
li:hover {
  text-decoration: line-through;
  cursor: pointer !important;
}

section{
  display: grid;
  grid-template-columns: 80% 20%;
  
}
.radioContainer{
  display: grid;
  grid-template-columns: 30vw 1fr;
}