span {
  cursor: pointer;
  &:hover {
  }
}
.clicked {
  cursor: text !important;
}
.textList {
  // background-color: aqua;
  width: fit-content;
}
.textList:hover {
  text-decoration: line-through;
  cursor: pointer !important;
}

.radioContainer {
  display: grid;
  grid-template-columns: 30vw 1fr;
}

.mapPage {
  h3 {
    display: flex;
    width: 75%;
    margin: 0 auto;
    color: var(--secondColor);
  }
}

.page {
  h3 {
    display: flex;
    width: 90%;
    margin: 1em auto;
    color: var(--secondColor);
    span {
      color: var(--thirdColor);
    }
  }
  .task {
    max-width: 70vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: stretch;
    justify-items: center;

    img {
      width: 80%;
    }
    h1 {
      color: var(--thirdColor);
      font-size: 2em;
    }
    p {
      font-size: 1.4em;
      text-align: justify;
      margin-right: 1em;
    }
  }
  .back {
    max-width: 70vw;
    display: flex;
    justify-content: flex-end;
    a {
      font-family: Oswald;
      font-weight: 600;
      text-decoration: none;
      color: var(--thirdColor);
      font-size: 1.4em;
      margin-right: 1em;
      &::after {
        content: " >";
      }
    }
  }
}

.button {
  z-index: 4;
  position: absolute;
  bottom: 5vh;
  right: 25vw;
  transform: translateX(-50%);

  text-decoration: none;
  color: var(--secondColor);
  font-family: Oswald;
  font-weight: 600;
  font-size: 1.4em;
  &::after {
    content: " >";
  }
}
