span{
    cursor: pointer;
    &:hover{
        
    }
}
.clicked{
    cursor: text !important;
}
.textList {
  // background-color: aqua;
  width: fit-content;
}
.textList:hover {
  text-decoration: line-through;
  cursor: pointer !important;
}

.radioContainer{
  display: grid;
  grid-template-columns: 30vw 1fr;
}

.mapPage{
  h3{
    display: flex;
    width: 75%;
    margin: 0 auto;
    color: var(--secondColor);
  }
}

.page{
  h3{
    
  }
  .task{
    max-width: 70vw;
    display: flex;
    align-items: center;
    img{
      width: 40%;
    }
    // display: ;
  }
}