span {
  cursor: pointer;
  &:hover {
  }
}
.clicked {
  cursor: text !important;
}
.textList {
  // background-color: aqua;
  width: fit-content;
}
.textList:hover {
  text-decoration: line-through;
  cursor: pointer !important;
}

.mapPage {
  h3 {
    display: flex;
    width: 75%;
    margin: 0 auto;
    color: var(--secondColor);
  }
}

.page {
  h3 {
    display: flex;
    width: 90%;
    margin: 1em auto;
    color: var(--secondColor);
    span {
      color: var(--thirdColor);
    }
  }
  .task {
    max-width: 70vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: stretch;
    justify-items: center;

    img {
      width: 80%;
    }
    h1 {
      color: var(--thirdColor);
      font-size: 2em;
    }
    p {
      font-size: 1.4em;
      text-align: justify;
      margin-right: 1em;
    }
  }
  .back {
    max-width: 70vw;
    display: flex;
    justify-content: flex-end;
    a {
      font-family: Oswald;
      font-weight: 600;
      text-decoration: none;
      color: var(--thirdColor);
      font-size: 1.4em;
      margin-right: 1em;
      &::after {
        content: " >";
      }
    }
  }
}

.button {
  z-index: 4;
  position: absolute;
  bottom: 5vh;
  right: 25vw;
  transform: translateX(-50%);

  text-decoration: none;
  color: var(--secondColor);
  font-family: Oswald;
  font-weight: 600;
  font-size: 1.4em;
  &::after {
    content: " >";
  }
}

.checkbox {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  // margin: 1em 3em;
  margin: 1em auto;
  gap: 2em;
  width: 90vw;

  
  .gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
    gap: 1em;
  }
  .container {
    display: grid;
    grid-template-rows: 20% 80%;
    .progressBar{
      display: flex;
      flex-direction: column;
      padding-bottom: 1em;
      height: 100%;
      p{
        font-size: 1em;
      }
      .progress{
        height: 3px;
        background-color: var(--secondColor);
        ;
      }
      .progressGray{
        height: 3px;
        background-color: lightgray;
        position: relative;
        top: -3px;
        z-index: -1;
      }
    }
  }
  .content {
    padding: 2em;
    background-color: lightgray;
    border-radius: 1em;
    h3{
      margin: 0;
    }
  }
  
}
.link{
    text-decoration: none;
    color: var(--secondColor);
    font-family: Oswald;
    font-weight: 600;
    font-size: 1.4em;
    display: flex;
    justify-content: flex-end;
    width: 90vw;
    margin: 0 auto;
    &::after {
      content: " >";
    }
  }
