:root{
    //base
    --baseColor: #b6e4f6;
    --secondColor: #009DC5;
    --thirdColor: #E83F4B;
    
    //text
    --baseBackgroundColor: var(--thirdColor);
    
    
    //buttons
    --buttonColor: var(--thirdColor);
    --buttonsBackground: var(--secondColor);
    --buttonSecondColor: var(--baseColor);
}